body {
   padding-top: 20px;
   padding-bottom: 20px;
}

.hl7-appointment
{
	width: 1000px;
	margin: auto;
}

.hl7-appointment .main-title
{
	font-size: 16px;
	padding-bottom: 5px;
	border-bottom: thin solid gray;
	width: 100%;
	margin-bottom: 10px;
}

.appointments-calendar
{
	width: 100%;
}

.appointments-calendar table tr td > div
{
	min-height: 50px !important;
}

.appointments-calendar .appointment-calendar-item
{
	background-color: #BFD8EF;
	border: thin solid #41719C;
	color: black;
	padding: 5px 3px;
	cursor: pointer;
	margin-top: 3px;
}

.hl7-appointment .appointment-form
{
	padding-top: 0;
}

.hl7-appointment .appointment-form input
{
	display: inline-block;
	width: auto;
}

.hl7-appointment .appointment-form input[type='text']
{
	width: 200px;
}

.hl7-appointment .appointment-form label
{
	font-weight: normal;
	width: 150px;
	font-size: 16px;
}

.hl7-appointment .appointment-form h4
{
	font-weight: normal;
	display: inline-block;
}