<form name="appmtForm" class="appointment-form">
	<div class="form-group">
		<label>&nbsp;</label>
		<h4>{{currentAppointment.isPersisted ? 'Update appointment' : 'New appointment'}}</h4>
	</div>
	<div class="form-group" style="margin-top: 5px">
		<label>Duration (Minutes)</label>
		<input type="number" min="1" class="form-control" ng-model="currentAppointment.sch.appointmentDuration"/>
	</div>
	<div class="form-group">
		<label>Date</label>
		<input id="apptmDate" type="text" class="form-control" ng-model="currentAppointment.sch.appointmentDate" datepicker/>
	</div>
	<div class="form-group">
		<label>Code</label>
		<input type="text" class="form-control" ng-model="currentAppointment.patient.code" required/>
	</div>
	<div class="form-group">
		<label>Provider ID</label>
		<input type="text" class="form-control" ng-model="currentAppointment.pv1.referringDoctor.providerID" required/>
	</div>
	<div class="form-group">
		<label>Name</label>
		<input type="text" class="form-control" ng-model="currentAppointment.pv1.referringDoctor.name"/>
	</div>
	<div class="form-group">
		<label></label>
		<input type="button" class="btn btn-default" value="Cancel" ng-click="hideAppointmentForm()"/>
		<input type="button" class="btn btn-danger" style="margin-left: 5px" value="Delete" ng-click="deleteCurrentAppointment()"/>
		<input type="button" class="btn btn-primary" style="margin-left: 5px" value="Save" ng-click="saveCurrentAppointment()"/>
	</div>	
</form>